<%#= turbo_stream_from "likes" %>
<%# message ||= @message %>

<%= turbo_frame_tag "message_#{message.id}_likes", data: { 'likes-target': 'widget', 'initiator': local_assigns[:initiator], 'count': local_assigns[:count], 'message-id': message.id, 'liked': (local_assigns[:liked] == true || local_assigns[:liked] == false ? local_assigns[:liked] : 'zero') } do %>

  likes: <b><%= message.likes.count %></b>

  <div class='js-action'>
    <%= link_to 'Like', message_likes_path(message), class: 'btn btn-success btn-sm d-none', data: { turbo_method: :post, 'likes-target': 'doLike' } %>

    <%= link_to 'UnLike', message_likes_path(message), class: 'btn btn-danger btn-sm d-none', data: { turbo_method: :delete, 'likes-target': 'doUnlike' } %>
  </div>
<% end %>